# Security headers
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
Header set X-Frame-Options DENY

# Redirect to preferred domain with HTTPS
RewriteEngine On

RewriteCond %{HTTPS} off [or]
RewriteCond %{HTTP_HOST} !^orca.pet
RewriteRule (.*) https://orca.pet/$1 [R=301,L]

# Disable Gzip online compression
SetEnv no-gzip 1

# Tell proxies to store differently-compressed separatedly
Header append Vary Accept-Encoding

# First try Brotli compression
RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_FILENAME}.br -s
RewriteRule ^(.*)$ %{REQUEST_FILENAME}.br [L]

<FilesMatch "\.(js|json|svg|ico|css|html|txt|xml)\.br$">
	Header set Content-Encoding br
</FilesMatch>

# Else try Gzip
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -s
RewriteRule ^(.*)$ %{REQUEST_FILENAME}.gz [L]

<FilesMatch "\.(js|json|svg|ico|css|html|txt|xml)\.gz$">
	RemoveType .gz
	Header set Content-Encoding gzip
</FilesMatch>

# Register types
AddType "application/javascript" .js.br .js.gz
AddType "application/json" .json.br .json.gz
AddType "image/svg+xml" .svg.br .svg.gz
AddType "image/x-icon" .ico.br .ico.gz
AddType "text/css" .css.br css.gz
AddType "text/html" .html.br .html.gz
AddType "text/plain" .txt.br txt.gz
AddType "text/xml" .xml.br .xml.gz
