Options -Includes
RewriteEngine On

# Security headers
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
Header set X-Frame-Options DENY

# Redirect to preferred domain with HTTPS
RewriteCond %{HTTPS} off [or]
RewriteCond %{HTTP_HOST} !^orca.pet
RewriteRule (.*) https://orca.pet/$1 [R=301,L]

# Tell proxies to store differently-compressed separatedly
Header append Vary Accept-Encoding

# Try Brotli compression
RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_FILENAME}.br -s
RewriteRule . %{REQUEST_FILENAME}.br

<FilesMatch "\.(js|json|svg|ico|css|html|txt|xml)\.br$">
	Header set Content-Encoding br
	SetEnv no-gzip 1
</FilesMatch>

# Register types
AddType "application/javascript" .js.br
AddType "application/json" .json.br
AddType "image/svg+xml" .svg.br
AddType "image/x-icon" .ico.br
AddType "text/css" .css.br
AddType "text/html" .html.br
AddType "text/plain" .txt.br
AddType "text/xml" .xml.br

ExpiresActive on
ExpiresByType text/html "access plus 1 minutes"

# Cache cachebusted content virtually forever
<If "%{QUERY_STRING} =~ /^[^=]{8}$/">
	# CSS and JavaScript
	ExpiresByType application/javascript "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/webp "access plus 1 month"
	ExpiresByType text/css "access plus 1 month"
	ExpiresByType image/x-icon "access plus 1 month"

	# Default
	ExpiresDefault "access plus 1 month"
</If>
<Else>
	# CSS and JavaScript
	ExpiresByType application/javascript "access plus 1 hour"
	ExpiresByType image/jpeg "access plus 1 hour"
	ExpiresByType image/webp "access plus 1 hour"
	ExpiresByType text/css "access plus 1 hour"
	ExpiresByType image/x-icon "access plus 1 hour"

	# Default
	ExpiresDefault "access plus 5 minutes"
</Else>
