<FilesMatch "\.">

ExpiresActive on

# CSS and JavaScript
ExpiresByType application/javascript "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/webp "access plus 1 year"
ExpiresByType text/css "access plus 1 year"

# Default
ExpiresDefault "access plus 1 year"

</FilesMatch>
